# Face Detection
DETECTOR_CHECKPOINT=thaye đường dẫn đến model của bạn

# Face Recognition
RECOGNIZER_CHECKPOINT=thay đường dẫn đến model của bạn

# Backend Integration (IMPORTANT: Must match Backend settings)
BACKEND_JWT_SECRET=123123123qweqwe12e12
BACKEND_CALLBACK_SECRET=jB9gwgsbOxaZXKWCTF8BsgYCgLOYROrnwbI4vJWa1T1zG4x0sFG63swllVES3yoj